@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:500 700&display=swap');


/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------base.html */
/*---------------Navigation Bar */
header{
    min-height: 80px;
    background-color: rgb(12, 1, 1);   
}

#logo a{
    float: left;
    font-size: 35px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#nav-bar{
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 24px;
    font-weight: 400; 
}

#nav-bar ul{
    list-style-type: none;
}

#nav-bar ul li{
    display: inline;
}

.nav-btn{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

/*---------------Footer */
footer{
    background-color:  rgb(12, 1, 1); 
    padding-bottom: 30px;
}

footer h2{
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px ;
    text-align: center;
}

#contact-details{
    line-height: 25px;
    text-align: left;
    padding-left: 10%;
    font-family: 'Gothic A1', sans-serif;  
    color: white;
    margin-right: 10%;
    padding-top: 20px;
}

#contact-details p{
    padding-left: 50px;
}

#google-location{
    height: 200px;
    width: 200px;
    border: 1.5px solid rgb(209, 178, 178, 0.5);
    margin-left: 10%; 
    margin-right: 10%;
    
}

/*--------------- 2 column layout for google-locations and contact-detail*/
.row{
    display: flex;
    padding-top: 30px;
}

.column{
    flex: 50%;
}

/*---------------index.html */
/*---------------hero-image and slogan*/
#hero-image{
    height:500px;
    background-color: brown;
    background-image: url('static/img/hero-image.jpg');
}

.slogan{
    text-align: center;
    padding-top: 190px;
}

.slogan h3{ 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 70px;
    text-shadow: 2px 2px 3px rgb(245, 224, 224);
    font-family: 'Do Hyeon', sans-serif;
}

/*---------------About*/

#about h2, #contact-form h2{
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    color: rgb(75, 51, 51);
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(209, 178, 178);
    text-align: center;
}

#about p{
    padding: 20px;
    font-family: 'Gothic A1', sans-serif;
    line-height: 25px;
    font-size: 18px;
}

.border {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1.5px solid black;  

}

/*---------------Contact*/

