@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:100,200,500,700&display=swap');


/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------base.html */
/*---------------Navigation Bar */
header{
    min-height: 80px;
    background-color: rgb(12, 1, 1);  
    position: fixed;
    width: 100%; 
}

#logo a{
    float: left;
    font-size: 35px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#nav-bar{
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 24px;
    font-weight: 400; 
}

#nav-bar ul{
    list-style-type: none;
}

#nav-bar ul li{
    display: inline;
}

.nav-btn{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.book-tbl{
    margin-left: 5px;
    border: 2px solid white;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.icon i{
    display: none;
}

/*---------------Footer */
footer{
    background-color:  rgb(12, 1, 1); 
    padding-bottom: 30px;
}

footer h2{
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px ;
    text-align: center;
}

#contact-details{
    line-height: 25px;
    text-align: left;
    padding-left: 10%;
    font-family: 'Gothic A1', sans-serif;  
    color: white;
    margin-right: 10%;
    padding-top: 20px;
}

#contact-details p{
    padding-left: 50px;
}

#google-location{
    height: 200px;
    width: 200px;
    border: 1.5px solid rgb(209, 178, 178, 0.5);
    margin-left: 10%; 
    margin-right: 10%;
    
}

#footer-responsive{
    display: none;
}

#social-media i{ 
    color: white;
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(75, 51, 51);
    letter-spacing: 7px;
}

#social-media {
    text-align: center;    
}

/*--------------- 2 column layout for google-locations and contact-detail*/
.row{
    display: flex;
    padding-top: 30px;
}

.column{
    flex: 50%;
}

/*---------------index.html */
/*---------------hero-image and slogan*/
#hero-image{
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;

}

.slogan{
    text-align: center;
    padding-top: 190px;
}

.slogan h3{ 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 70px;
    text-shadow: 2px 2px 3px rgb(245, 224, 224);
    font-family: 'Do Hyeon', sans-serif;
}

.book-now{
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(245, 224, 224, 0.5);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
}

.book-now:hover{
    background-color: rgb(75, 51, 51);
    transition: 0.5s;
}
/*---------------About*/

#about h2, #contact-form h2, #menu h2, .log-in-form h2, .modal-container h2, #reserve-table h2, #edit-reservation h2{
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    color: rgb(75, 51, 51);
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(209, 178, 178);
    text-align: center;
}

#about p{
    padding: 20px;
    font-family: 'Gothic A1', sans-serif;
    line-height: 25px;
    font-size: 18px;
}

.border {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1.5px solid black;  

}

/*---------------Menu*/

#menu .border{
    background-color: rgb(36, 32, 32);
}

#menu ul, h3{
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}

#menu ul li {
    list-style: none;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

#menu ul li h4 {
    font-weight: 500;
    line-height: 25px;
}

#menu ul li p {
    line-height: 15px;
    font-size: 15px;
    padding-bottom: 5px;
}

#menu ul li b {
    float: right;
}

#menu h3 {
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.burgers.column {
    padding-bottom: 30px;
}

hr {
    border: 2px solid rgb(212, 142, 11);
    margin: 15px 10%;
}

/*---------------Contact*/

form{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.get-in-touch input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
    margin-bottom: 1%;
    resize: vertical; 
    font-family: 'Gothic A1', sans-serif;
}

input#fname{
    width: 99%;
    float: left;
    margin-bottom: 1%;
}

input#lname {
    width: 99%;
    float: right;
}

.get-in-touch input[type=submit] {
    font-family: 'Gothic A1', sans-serif;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(75, 51, 51, 0.5);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.get-in-touch input[type=submit]:hover{
    background-color: rgb(75, 51, 51);
    transition: 0.5s;
}

/*---------------sign-in.html */
/*---------------log-in form */

.log-in-container{
    margin-left: 15%;
    margin-top: 7.5rem;
    margin-right: 15%;
    position: fixed;
    height: 120%;
    z-index: -1;
}

.log-in-row{
    display: flex;
    height: 60%;
    border: 1.5px solid black;
}

.log-in-column{
    flex: 50%;
}

.log-in-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.log-in-form{
    padding-top: 30px;
}

.log-in-form form{
    padding-top: 50px;
    line-height: 20px;
}

.log-in-form a{
    font-family: 'Gothic A1', sans-serif;
    color: rgb(75, 51, 51);
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
    margin-bottom: 3%;
    resize: vertical; 
    font-family: 'Gothic A1', sans-serif;
}

button {
    font-family: 'Gothic A1', sans-serif;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(75, 51, 51, 0.5);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 30px;
}

button:hover {
    background-color: rgb(75, 51, 51);
    transition: 0.5s;
}

.register-button{
    text-decoration: underline;
    border: none;
    color: rgb(75, 51, 51);
    background-color: white;
    float: right;
    margin-right: 7%;
    font-size: 17px;
}

.register-button:hover{
    background-color: white;
    color: rgba(75, 51, 51, 0.5);
}
/*---------------modal form  */
.modal-container {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0,0,0,0.8);
}

.modal-container form {
    margin: 15%;
    margin-top: 7.5rem;
    border: 1.5px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5% 10%;
    height: 72%;
    position: relative;
}

.modal-container h2{
    padding-bottom: 30px;
}

.close {
  position: absolute;
  right: 5%;
  top: 0;
  color: #000;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:  rgb(75, 51, 51);
  cursor: pointer;
}

.cancelbtn{
    background-color: rgba(156, 26, 17, 0.5)
}

/*---------------- Modal form  Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/*---------------------book-tbl.html*/

#reserve-table, #edit-reservation{
    margin-left: 15%;
    margin-top: 6rem;
    margin-right: 15%;
    position: fixed;
    z-index: -1;
    padding: 0;
}

#reserve-table form, #edit-reservation form{
    display: grid;
    padding-top: 30px;
}

#reserve-table input[type=text], input[type=date], input[type=time], select {
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
    margin-bottom: 1%;
    resize: vertical; 
    font-family: 'Gothic A1', sans-serif;
}

#reserve-table input[type=date]{
    text-transform: uppercase;
}

#edit-reservation input[type=date]{
    text-transform: uppercase;
}

#edit-reservation input[type=text], input[type=date], input[type=time], select{
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
    margin-bottom: 1%;
    resize: vertical; 
    font-family: 'Gothic A1', sans-serif;
}
/*---------------------Responsive Sizing*/

@media screen and (max-width: 900px){
    .icon i{
        display: block;
        float: right;
        margin: 20px;
    }

    .icon {
        font-size: 30px;
        padding-right: 20px;
        padding-top: 20px;
        color: white;
        text-decoration: none;
    }

    #nav-bar{
        display: none; 
        position: unset;
        width: 100%;
        padding-top: 0px;
        line-height: 30px;
        padding-bottom: 20px;
    }
  
    #nav-bar ul li {
        display: block;
        text-align: right;
        font-size: 1.3rem;
    }

    #menu .row {
        display: block;
    }

    .milkshakes {
        padding-top: 30px;
    }

    .toppings{
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 760px){
    #contact-details{
        display: none;
    }
    #google-location{
        width: 100%;
    }

    #footer-responsive{
        font-family: 'Gothic A1', sans-serif;
        display: contents;
        text-align: center;
        padding-top: 30px;
        line-height: 20px;
        color: white;
    }

    #footer-responsive h3{
        text-transform: uppercase;
    }

    #footer-responsive h3{
        padding-top: 20px;
    }
}

@media screen and (max-width: 400px){

    .border, form, #google-location{
        margin-left: 5%;
        margin-right: 5%;
    }

    .slogan{
        padding-top: 100px;
    }
}