@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:500 700&display=swap');


/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------Navigation Bar */
header{
    min-height: 80px;
    background-color: rgb(12, 1, 1);   
}

#logo a{
    float: left;
    font-size: 35px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#nav-bar{
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 24px;
    font-weight: 400; 
}

#nav-bar ul{
    list-style-type: none;
}

#nav-bar ul li{
    display: inline;
}

.nav-btn{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

/*---------------Footer */
