{% extends 'base.html' %}
{% block content %}
<div id="reserve-table">
	<h2>Make a reservation</h2>
	<form action="{{ url_for('reserve_table') }}" method="POST">
		<input type="text" placeholder="Name" name="reservation_name" id="reservation_name" required>
		<input type="text" placeholder="Contact Number" name="contact_number" id="contact_number" required>
		<input type="date" name="reservation_date" id="reservation_date" required>
		<input type="time" name="reservation_time" id="reservation_time" required>
        <input type="text" placeholder="Party Size 1-6" name="party_size" id="party_size" required>        
		<input type="text" placeholder="Additional Information" name="additional_info" id="additional_info">
		<button>Reserve Now</button>
	</form>
</div>
{% endblock %}