{% extends 'base.html' %}
{% block content %}
<div id="edit-reservation">
	<h2>Edit Reservation</h2>
	<form action="{{url_for('reserve_table')}}" method="POST">
		<!--Looping through database to pull up saved reservation data-->    
		<input  type="text" name="reservation_name" id="reservation_name">
		<input  type="text" name="contact_number" id="contact_number">
		<input  type="date" name="reservation_date" id="reservation_date">
		<input  type="time" name="reservation_time" id="reservation_time">
		<input  type="text" name="party_size" id="party_size">
        <input  type="text" placeholder="No additional info" name="additional_info" id="additional_info">
		<div class="row">
			<button  class="column">Update</button>
			<button  class="column">Delete</button>
		</div>
	</form>
</div>
{% endblock %}