{% extends 'base.html' %}
{% block content %}

<!--Hero Image and slogan-->
    <div id="hero-image">
        <div class="slogan">
			<h3>We will save you a seat</h3>
		</div>
    </div>

<!--Information about the business and link to contact page-->
	<section id="about">
		<h2>Our Story</h2>
		<div class="border">
			<p>We are located on the picturesque west coast of Ireland, serving the finest gourmet burgers
				since 2018. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Fugit, facere ducimus! Culpa deleniti pariatur,
				expedita itaque id, asperiores officiis dolorem qui in modi nemo ullam beatae repellendus aut commodi
				rerum.
			</p>
		</div>
	</section>

	<!--Contact section, with a contact form-->
	<section id="contact-form">
		<h2>Get in touch</h2>
	
		<!--Contact-form layout with content-->
		<div class="get-in-touch">
			<form>
				<div class="row">
				<div class="column">
					<input type="text" id="fname" name="firstname" placeholder="First Name" required>
				</div>
				<div class="column">
					<input type="text" id="lname" name="lastname" placeholder="Second Name" required>
				</div>
				</div>
					<input type="text" id="email" name="email" placeholder="Email" required>
					<input type="text" id="subject" name="subject" placeholder="Subject" required>
					<textarea name="message" id="message" rows="10" placeholder="Message Here..." required></textarea>
					<input type="submit" value="Submit" class="reset">
			</form>
		</div>
	</section>


{% endblock %}
