{% extends 'base.html' %}
{% block content %}

<!--Hero Image and slogan-->
    <div id="hero-image">
        <div class="slogan">
			<h3>We will save you a seat</h3>
		</div>
    </div>

<!--Information about the business and link to contact page-->
	<section id="about">
		<h2>Our Story</h2>
		<div class="border">
			<p>We are located on the picturesque west coast of Ireland, serving the finest gourmet burgers
				since 2018. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Fugit, facere ducimus! Culpa deleniti pariatur,
				expedita itaque id, asperiores officiis dolorem qui in modi nemo ullam beatae repellendus aut commodi
				rerum.
			</p>
		</div>
	</section>

<!--Image of the menu-->
	<section id="menu">
		<h2>Menu</h2>
    <div class="appetizers">
        <h1>Snacks & Appetizers</h1>
        <!--Looping through the MONGO collection-->
        {% for snack in snacks %}
            <h3>{{snack.category_name}}</h3>
            <ul>
                <li><h4>{{snack.item_heading}} {{snack.item_price}}</h4>
                    <p>{{snack.item_description}}</p>
                </li>
            </ul>  
        {% endfor %}
    </div>
    <div class="burgers">
        <h1>Gourmet Burgers</h1>
    	{% for burger in burgers %}
            <h3>{{burger.category_name}}</h3>
            <ul>
                <li><h4>{{burger.item_heading}} {{burger.item_price}}</h4>
                    <p>{{burger.item_description}}</p>
                </li>
            </ul>  
        {% endfor %}
    </div>

		<img src="static/img/munch-menu.jpg" alt="munch lunch menu serving the finest burgers everyday from 12pm to 5pm">
    </section>

<!--Contact section, with a contact form-->
	<section id="contact-form">
		<h2>Get in touch</h2>
	
		<!--Contact-form layout with content-->
		<div class="get-in-touch">
			<form onsubmit="return sendMail(this);">
				<div class="row">
				<div class="column">
					<input type="text" id="fname" name="firstname" placeholder="First Name" required>
				</div>
				<div class="column">
					<input type="text" id="lname" name="lastname" placeholder="Second Name" required>
				</div>
				</div>
					<input type="text" id="email" name="email" placeholder="Email" required>
					<input type="text" id="subject" name="subject" placeholder="Subject" required>
					<textarea name="message" id="message" rows="10" placeholder="Message Here..." required></textarea>
					<input type="submit" value="Submit" class="reset">
			</form>
		</div>
	</section>

    <!--Location of EmailJS script-->
	<script src="static/js/sendEmail.js"></script>

	<!--Contact form linked to EmailJS-->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
	<script type="text/javascript">
		(function(){
            emailjs.init("user_dYXdGeorqYYUJK0lclK57");
        })();
	</script>

{% endblock %}
